<header class="header-nav">
    <div class="group-item">
        <a href="/cart">
          <img 
            width="80"
            height="50"
            loading="lazy"
            src="{{'nike.png' |  asset_url}}" />
        </a>
    </div>
    <div class="group-item">
      <ul class="middle-nav-bar">
        {% for link in linklists['main-menu'].links %}
            <li>{{link.title | link_to:link.url}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="group-item">
        
        <form action="search">
          <img width="25" height="25" loading="lazy" src="{{'s.png' |  asset_url}}" class="search-icon" />
          <input placeholder="search" class="search-nav" type="search" />
        </form>
       
        <a href="/">
            <img width="25" height="25" loading="lazy" src="{{'f.png' |  asset_url}}" />
        </a>
        <a href="/">
            <img width="25" height="25" loading="lazy" src="{{'d.png' |  asset_url}}" />
        </a>
    </div>
</header>

<style>
     .header-nav{
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .group-item  {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    } 
 }

 .middle-nav-bar {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .middle-nav-bar li {
    margin-left: 1.5rem;
    list-style: none;
    font-size: 18px;
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
 }

 .middle-nav-bar li:hover {
     text-decoration: underline;
 }

 .search-nav{
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(233,232,232);
 }

 .search-icon{
    position: relative;
    top:10px;
    left: 35px;
 }
</style>

